[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
python-dotenv = "*"

[packages]
webexteamsbot = "*"
requests = "*"
schedule = "*"
apscheduler = "*"
pyadaptivecards = "*"
pyngrok = "*"

[requires]
python_version = "3.8.2"
